<h1><%= room.title %></h1>

<% if room.current_events.any? %>
<section class="events">
  <h1>Current event</h1>

  <ol class="event-list">
    <%= render partial: 'event', collection: room.current_events %>
  </ol>
</section>
<% end %>

<section class="events">
  <h1>Coming up</h1>

  <ol class="event-list">
    <%= render partial: 'event', collection: room.events.future %>
  </ol>
</section>

<ul class="actions">
  <li><%= link_to 'Edit room', edit_room_path(room) %></li>
  <li><%= link_to 'Import events', import_room_path(room), method: :post %></li>
</ul>
