<article class="room">
  <header>
    <h1><%= room.title %></h1>

    <nav class="actions actions-resource">
      <ul>
        <li><%= link_to 'Full screen view', dashboard_room_path(room) %></li>
        <li><%= link_to 'Import events', import_room_path(room), method: :post %></li>
        <li><%= link_to 'Edit details', edit_room_path(room) %></li>
      </ul>
    </nav>
  </header>

  <section class="events">
    <h1>Coming up</h1>

    <%= render_mustache 'rooms/event_list', presented_room.as_mustache_context %>
  </section>
</article>
