<!DOCTYPE html>
<html>
<head>
  <title>Meeting Rooms</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="full">

<header>
  <h1>
    <%= link_to app_title, root_path %>
  </h1>
</header>

<main>
  <% if flash.any? %>
    <% flash.each do |key, message| %>
      <div class="message message-<%= key %>"><%= message %></div>
    <% end %>
  <% end %>

  <%= yield %>
</main>

</body>
</html>
